body {
  background-color: #f2f5f9;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  background: white;
  padding: 25px;
  margin: 80px auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.field {
  margin-bottom: 15px;
  position: relative;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.field input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.field input:focus {
  outline: none;
  border-color: #4f7cff;
  background-color: #f7faff;
}

.field.success input {
  border-color: green;
}

.field.error input {
  border-color: red;
}

.field small {
  color: red;
  font-size: 12px;
  visibility: hidden;
}

.field.error small {
  visibility: visible;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #4f7cff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

button:disabled {
  background-color: #aabaff;
  cursor: not-allowed;
}
